header {
	position: sticky;
	top: 0;
}

main {
	flex: 1;
}

body {
	margin: 0;
	padding: 0;
}

.content {
	padding-top: 60px;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
